PG_USER=
PG_PASSWORD=
PG_DB=

TOMTOM_API_KEY=your_tomtom_key

AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=

SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_PASSWORD=
SUPERSET_ADMIN_FIRSTNAME=
SUPERSET_ADMIN_LASTNAME=
SUPERSET_ADMIN_EMAIL=

# ── Email / SMTP ─────────────────────────────────────────────
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_USER=your_gmail@gmail.com
AIRFLOW__SMTP__SMTP_PASSWORD=your_16_char_app_password
AIRFLOW__SMTP__SMTP_MAIL_FROM=your_gmail@gmail.com