PG_USER=
PG_PASSWORD=
PG_DB=

TOMTOM_API_KEY=your_tomtom_key

AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=

SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_PASSWORD=
SUPERSET_ADMIN_FIRSTNAME=
SUPERSET_ADMIN_LASTNAME=
SUPERSET_ADMIN_EMAIL=