# Environment & secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Airflow
logs/
*.log
airflow.db
airflow-webserver.pid

# Data (generated at runtime, not source)
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
data/raw_incidents*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
data/raw_incidents/.gitkeep

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Superset
superset_home/
